@import '~normalize.css/normalize.css';

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:host{
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0px;
  padding: 0px;
  font-family: 'Coiny', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
