app-options{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
app-options button{
    border-radius: 50px;
    background: transparent;
    color: #fff;
    border: unset;
    padding: 8px;
    font-family: 'Coiny', cursive;
    font-size: 16px;
    opacity: 0;
    display: none;
}
app-options a{
    text-decoration: none;
}

app-options .option{
    display: block;
    opacity: 1;
}

app-options .hide{
    opacity: 0;
    display: none;
}
app-options .show{
    display: block;
    opacity: 1;
    animation: blink 1.2s steps(4, start) infinite;
}

app-options #copy{
    width: 0px;
    height: 0px;
    border: unset;
    color: transparent;
    background: transparent;
    position: absolute;
    z-index: -1;
}