app-tabs .tabs{
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Coiny', cursive;
  justify-content: center;
  margin: auto;
  max-width: 100vw;
  min-height: 32px;
  overflow: auto;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
app-tabs .tab-wrapper{
  display: flex;
}
app-tabs stencil-route-link{
  min-width: fit-content;
}
app-tabs stencil-route-link a{
  color: rgba(250,250,250,0.5);
  margin: 0 8px;
  padding: 8px 0px;
  position: relative;
  text-decoration: none;
}
app-tabs stencil-route-link a.link-active,
app-tabs stencil-route-link a.link-active a,
app-tabs stencil-route-link a.link-active .tab{
  color: var(--secondary-color);
}
app-tabs stencil-route-link a .tab:before{
  content: '[';
  left: -10px;
  position: absolute;
}
app-tabs stencil-route-link a .tab:after{
  content: ']';
  position: absolute;
  right: -10px;
}
app-tabs stencil-route-link a.link-active .tab:before{
  color: var(--secondary-color);
  content: '[';
  position: absolute;
}
app-tabs stencil-route-link a.link-active .tab:after{
  color: var(--secondary-color);
  content: ']';
  position: absolute;
}