app-options{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
app-options button{
    border-radius: 50px;
    background: transparent;
    color: #fff;
    border: unset;
    padding: 8px;
    font-family: 'Coiny', cursive;
    font-size: 16px;
    opacity: 0;
}
app-options button.option{
    opacity: 1;
}

app-options button.show{
    opacity: 1;
    animation: blink 1.2s steps(4, start) infinite;
}