app-new .app-new{
  width: 100vw;
  height: 100vh;
  display: grid;
  opacity: 0;
  transition: opacity 500ms;
}
app-new .app-new.reveal{
  opacity: 1;
}
app-new .form{
  max-width: 300px;
  max-height: 300px;
  place-self: center;
  text-align: center;
}

app-new .newhabit{
  text-align: center;
  height: 32px;
  border-radius: 5px;
  border: none;
  padding: 0px 8px;
  margin: 4px auto;
}
app-new a{
  color: var(--secondary-color);
}
app-new button{
  cursor: pointer;
  background: transparent;
  color: var(--secondary-color);
  border: unset;
  padding: 8px;
  font-size: 16px;
  transition: all 300ms ease-in-out;
}
app-new button:hover{
  opacity: 0.8;
}
app-new button:active{
  opacity: 0.5;
}