app-cal .year{
    width: 100vw;
    max-width: 320px;
    margin: auto;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
cal-month {
    width: calc(100vw / 12);
    text-align: center;
    cursor: pointer;
}
cal-month .month-title{
    font-weight: lighter;
    font-size: 13px;
}
cal-month .day.reveal{
    opacity: 1;
}
cal-month .day.reveal-font-level3{
    font-size: 4px;
}
cal-month .day.reveal-font-level2{
    font-size: 3px;
}
cal-month .day.reveal-font-level1{
    font-size: 2px;
}
cal-month .day{
    font-family: 'Coiny', cursive;
    font-size: 5px;
    height: calc(100vh / 33 - 2px);
    max-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-text-security: square;
    opacity: 0;
}
cal-month .select:after{
    content: '⛶';
    position: absolute;
    font-size: 32px;
    color: var(--secondary-color);
    margin-bottom: 3px;
    margin-left: -1px;
    animation: blink 1.2s infinite alternate;
}
cal-month .select{
    color: var(--secondary-color);
    -webkit-text-security: none;
}
cal-month .highlight{
    border-radius: 5px;
    font-size: 13px !important;
    -webkit-text-security: none;
    color: var(--secondary-color)
}

cal-month .highlight.select:after{
    opacity: .5;
    animation: unset
}


@keyframes blink{
    to {
        opacity: 0.4;
    }
}