app-cal .year{
    display: flex;
    margin: auto;
    max-width: 320px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100vw;
}
cal-month {
    cursor: pointer;
    text-align: center;
    width: calc(100vw / 12);
}
cal-month .month-title{
    font-size: 13px;
    font-weight: lighter;
}
cal-month .day.reveal{
    opacity: 1;
}
cal-month .day.reveal-font-level3{
    font-size: 4px;
}
cal-month .day.reveal-font-level2{
    font-size: 3px;
}
cal-month .day.reveal-font-level1{
    font-size: 2px;
}
cal-month .day{
    display: flex;
    flex-direction: column;
    font-family: 'Coiny', cursive;
    font-size: 5px;
    height: calc(100vh / 33 - 2px);
    justify-content: center;
    max-height: 25px;
    opacity: 0;
    position: relative;
    /* -webkit-text-security: square; */
}
cal-month .select::after{
    animation: blink 1.2s infinite alternate;
}
cal-month .select{
    color: var(--secondary-color);
    -webkit-text-security: none;
}
cal-month .highlight{
    border-radius: 5px;
    color: var(--secondary-color);
    color: transparent;
    font-size: 13px !important;
    -webkit-text-security: none
}

cal-month .select::after,
cal-month .highlight::after{
    background: #00ffe5;
    border: 0;
    border-radius: 50px;
    bottom: 0;
    box-shadow: 0 0 0 8px rgb(113 222 255 / 45%);
    content: '3';
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}

cal-month .highlight.select:after{
    animation: unset;
}

@keyframes blink{
    to {
        opacity: 0.5;
    }
}