app-new .app-new{
  width: 100vw;
  height: 100vh;
  display: grid;
}
app-new .form{
  max-width: 300px;
  max-height: 300px;
  place-self: center;
  text-align: center;
}

app-new .newhabit{
  text-align: center;
  height: 32px;
  border-radius: 5px;
  border: none;
  padding: 0px 8px;
  margin: 4px auto;
}
app-new .start{
  background-color: rgba(250,250,250,.2);
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  border: none;
}
app-new .start:hover{
  background-color: rgba(250,250,250,.3);
}
app-new .start:active{
  background-color: rgba(250,250,250,.1);
}